bin/**

test/**

doc/main_pt-*
doc/main_en-*
doc/*.aux
!doc/abntex2-modelo-include-comandos.aux
doc/*.auxlock
doc/*.bbl
doc/*.blg
doc/*.brf
doc/*.gnuplot
doc/*.idx
doc/*.lof
doc/*.log
doc/*.lot
doc/*.pdf
doc/*.toc

doc/report/**

